{% extends 'base-sw.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_nav_links %}
{% endblock %}

{% block main_content %}
<main class="px-3">
<img src="img/logo.jpg" style="margin:20px; width:65%; border-radius:30px">
<br><br>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>I have taught you everything I know. And you have become a far greater Jedi than I could ever hope to be.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Obi-Wan Kenobi, <cite>'Star Wars: Episode VI - Return of the Jedi'</cite>
  </figcaption>
</figure>
<br>
<p class="lead">
    <a href="/film" class="btn btn-lg btn-secondary fw-bold border-yellow bg-warning">Browse Films Data</a>
</p>
</main>
{% endblock %}
