{% extends 'base-sw.html.twig' %}

{% block title %}Film - A New Hope{% endblock %}

{% block page_nav_links %}
<a class="nav-link active" aria-current="page" href="/film">Films</a>
<a class="nav-link" href="/character">Characters</a>
{% endblock %}

{% block main_content %}
{# @2do: these styles need to be moved to proper external stylesheet #}
<style>
.card {
    background-color: #ffc107;
    border-radius: 10px;
}
.card-body {
  padding-bottom: 12px;
}
.card .card-title, .card .card-text {
    color: #000;
}
.card-text {
  display: none;
}
</style>

<br><br>
<h1 class="mb-0 text-warning text-start">Film: <span class="text-white">A New Hope</span></h1>
<h3 class="text-start"><span class="text-warning">Director:</span> George Lucas. <span class="float-end fs-5"><span class="text-warning">Release Date:</span> 1977-05-25</span></h3>
<h3 class="text-start text-warning">Characters ...</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/1" class="text-dark">Luke Skywalker</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/2" class="text-dark">C-3PO</a></h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/3" class="text-dark">R2-D2</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/4" class="text-dark">Darth Vader</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/5" class="text-dark">Leia Organa</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/6" class="text-dark">Owen Lars</a></h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/7" class="text-dark">Beru Whitesan lars</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><a href="/character/8" class="text-dark">R5-D4</a></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock %}